---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 140
IncludeBlocks: Regroup
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: InlineOnly
AlignConsecutiveMacros: true
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
IncludeCategories:
  - Regex: '^"einsums/_.*\.hpp"'
    Priority: 1
  - Regex: '^"einsums/.*\.h.*"'
    Priority: 2
  - Regex: '^"range/.*"'
    Priority: 2
  - Regex: '^<fmt/.*>'
    Priority: 4
  - Regex: '^<.*'
    Priority: 5
  - Regex: '.*'
    Priority: 6