Checks: '-*,performance-*,misc-*,-misc-non-private-member-variables-in-classes,modernize-*,bugprone-*,-bugprone-reserved-identifier,-bugprone-easily-swappable-parameters,-performance-no-int-to-ptr,readability-identifier-naming,-readability-magic-numbers'
CheckOptions: {
  { readability-identifier-naming.NamespaceCase: lower_case },
  { readability-identifier-naming.ClassCase: CamelCase },
  { readability-identifier-naming.PrivateMemberPrefix: _ },
  { readability-identifier-naming.StructCase: CamelCase },
  { readability-identifier-naming.FunctionCase: lower_case },
  { readability-identifier-naming.VariableCase: lower_case },
  { readability-identifier-naming.GlobalConstantCase: CamelCase },
  { readability-identifier-naming.TypeAliasCase: CamelCase },
  { readability-identifier-length.MinimumParameterNameLength: 0 },
  { readability-identifier-length.MinimumVariableNameLength: 0 }
}