---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 140
IncludeBlocks: Regroup
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: InlineOnly
AlignConsecutiveMacros: true
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
QualifierAlignment: Right
AttributeMacros:
  - EINSUMS_PYBIND_EXPOSE
  - EINSUMS_PYBIND_HIDE
  - EINSUMS_PYBIND_RENAME
  - EINSUMS_PYBIND_MODULE
  - EINSUMS_PYBIND_HOLDER
  - EINSUMS_PYBIND_BUFFER_PROTOCOL
  - EINSUMS_PYBIND_BUFFER_FROM
  - EINSUMS_PYBIND_BUFFER_PROTOCOL_STD
  - EINSUMS_PYBIND_ITERATOR_STD
  - EINSUMS_PYBIND_INDEX_PROTOCOL_STD
  - EINSUMS_PYBIND_IMPLICIT_FROM
  - EINSUMS_PYBIND_DYNAMIC_ATTR
  - EINSUMS_PYBIND_NOCOPY
  - EINSUMS_PYBIND_NOMOVE
  - EINSUMS_PYBIND_READONLY
  - EINSUMS_PYBIND_EXCEPTION
  - EINSUMS_PYBIND_NO_BASES
  - EINSUMS_PYBIND_RVP
  - EINSUMS_PYBIND_KEEP_ALIVE
  - EINSUMS_PYBIND_RELEASE_GIL
  - EINSUMS_PYBIND_VARIADIC_FROM
  - EINSUMS_PYBIND_INSTANTIATE_MEMBER
  - EINSUMS_PYBIND_INSTANTIATE_MEMBER_AS
  - EINSUMS_PYBIND_OPERATOR
  - EINSUMS_PYBIND_GETTER
  - EINSUMS_PYBIND_SETTER
  - EINSUMS_PYBIND_DOC
  - EINSUMS_PYBIND_INSTANTIATE
  - EINSUMS_PYBIND_INSTANTIATE_AS
  - EINSUMS_PYBIND_INSTANTIATE_TEMPLATE
  - EINSUMS_PYBIND_TEMPLATE_KWARGS
  - EINSUMS_PYBIND_INSTANTIATE_BOOLS
IncludeCategories:
  - Regex: '^<Einsums/Config/WarningsPrefix.hpp>'
    Priority: 100
  - Regex: '^<catch2/catch_all.hpp>'
    Priority: 10
  - Regex: '^<Einsums/Testing.hpp>'
    Priority: 10
  - Regex: '^<Einsums/Config.hpp>'
    Priority: 1
  - Regex: '^<Einsums/_.*\.hpp>'
    Priority: 2
  - Regex: '^<Einsums/.*\.h.*>'
    Priority: 3
  - Regex: '^<range/.*>'
    Priority: 4
  - Regex: '^<fmt/.*>'
    Priority: 4
  - Regex: '^<.*'
    Priority: 5
  - Regex: '.*'
    Priority: 6