/*build*/
testing/consume/build
.vscode/Testing

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Items specific to einsums
*.h5
.cache
*timings.txt*
*.coverage
coverage.xml
*.profraw
*.profdata
*.info

# Visual Studio files
.vs
CMakeSettings.json

# Emacs backups.
*~

# Documentation
__pycache__
docs/_doxygen
docs/api
docs/build

# Random Apple stuff
.DS_Store

# JetBrains project files
.idea
*.env

# File created by merge_yaml.py script
conda.yml

# Profiling files.
*profile.txt*
